body {
  background-color: rgb(143, 143, 143);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  background-color: lightslategray;
  border-radius: 8px;
  padding: 10px;
}

.sidebar-nav a {
  color: rgb(152, 235, 238);
  font-weight: bold;
  margin: 5px 0px;
}

/* Lista livro*/

.link {
  color: rgb(152, 235, 238);
}

.link:hover {
  color: rgb(152, 235, 238);
}

button.btn a {
  text-decoration: none;
  color: white;
}